*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/* common-style */
.primary-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}
.primary-button .link{
    text-decoration: none;
    color:#FFF;
}
.primary-button:hover{
    cursor: pointer;
    background-color: gray;

}

/* banner-section */
.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:850px;
    position:relative
}

.banner-img{
    position:absolute;
    bottom:0;
    right:50px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding:30px 0px;
}

/* featured-section */
.featurd-items{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top:178px;
    padding:30px;

}

.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.first-item{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    position:relative;
}
.second-item{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    position:relative;

}

.third-item{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    position:relative;

}

.featured-img{
    width: 310px;
    height: 428px;
    position:absolute;
    top:108px;
    left:70px;
}

.flower-container{
    margin-top:48px;
}

.caption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top:32px;
}
.caption>a{
    color:black;
}

/* service-section  */

.service-container{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:128px 240px;
}
.service{
    padding:10px 40px;
}
.service-img{
    width: 88px;
    height: 88px;
    margin-left:115px;
}
.service-img3{
    width: 88px;
    height: 88px;
    margin-left:70px;
}
.service-title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-right:px;
    padding:20px 0px;
    }


    /* sign-up-section */

.sign-up-container{
    display:flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
}
.sign-up-text{
    padding:30px;
    margin-left: 300px;
}
.sign-up-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding:20px;
}
span{
    color:#E55473;
}
.sign-up-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding:20px;
}

.btn{
    margin:12px 0px 0px 230px;
}
.sign-up-image{
    width: 318px;
    height: 420px;
}

/* social-section */