*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/* common-style */
.primary-button{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    padding: 10px 25px;
    border-radius: 8px;
    background: #E55473;
    border:2px solid white;
    
}
.primary-button .link{
    text-decoration: none;
    color:#FFF;
}
.primary-button:hover{
    cursor: pointer;
    background-color: gray;
    transition: 0.5s;

}



/* banner-section */
.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:500px;
    position:relative
}

.banner-img{
    position:absolute;
    bottom:0;
    right:50px;
    width: 435px;
    height: 500px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding:20px 0px;
}

/* featured-section */
.featurd-items{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top:178px;
    padding:30px;

}

.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.first-item{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    position:relative;
}
.second-item{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    position:relative;

}

.third-item{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    position:relative;

}

.featured-img{
    width: 200px;
    height: 242px;
    position:absolute;
    top:108px;
    left:70px;
}

.flower-container{
    margin-top:48px;
}

.caption{
    color: #272727;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top:32px;
}
.caption>a{
    color:black;
}

/* service-section  */

.service-container{
    width: 970px;
    height: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:128px 163px;
    
}
.service{
    padding:10px 40px;
}
.service-img{
    width: 55px;
    height: 55px;
    margin-left:115px;
}
.service-img3{
    width: 55px;
    height: 55px;
    margin-left:70px;
}
.service-title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left:20px;
    padding:20px 0px;
    }


    /* sign-up-section */

.sign-up-container{
    display:flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
    height: 500px;
    background: rgba(229, 84, 115, 0.05);
    position: relative;
}
.sign-up-text{
    padding:30px;
    margin-left:00px;
}
.sign-up-title{
    color: #272727;
    font-size: 28px;
    font-weight: 800;
    padding:15px;
    text-align: center;
}
span{
    color:#E55473;
}
.sign-up-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height:26px;
    padding:15px;
}

.btn{
    margin:12px 0px 0px 230px;
}
.sign-up-image{
    width: 250px;
    height: 250px;
   margin-bottom:200px;
   margin-right:150px;
    
}

/* social-section */
.social-container{
    width:100%;
    background: #FFF;
}
.social-title{
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 128px;
    padding:10px;

}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding:10px;
    margin-bottom: 48px;

}

.social-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.social-photo{
    width: 250px;
    height: 290px;
}

.deals-container{
    background-image:url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;
    height: 300px;
    margin:120px 100px;
    position:relative;
}

.deals-title{
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position:absolute;
    top:90px;
    left:390px;
}

.deals-description{
    position:absolute;
    top:137px;
    left:420px;
    font-size: 16px;
    font-weight: 400;


}

.mail{
    position:absolute;
    margin:180px 0px 0px 240px;
    width:500px;
    height:34px;
}
.Subscribe{
    position:absolute;
    margin:177px 0px 0px 760px;
    width:110px;

}

.mail-text{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-weight: 400;
}
/* footer-section */
.footer-container{
    width:100%;
    height: 320px;
    background: #111010;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.footer-title{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height:26px;
    margin-top: 24px;
}

.copy{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
margin:30px;
}